.app {
  background-color: #292f30;
}

.flex {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  max-height: 75vh;
  max-width: 80vw;
  border: 5px solid black;
  border-radius: 25px;
  margin-bottom: 5vh;
}

.map-wrapper {
  margin-top: 5vh;
}

.leaflet-popup-content-wrapper {
  background-color: #debd92;
}

.leaflet-popup-tip {
  background: #debd92;
}

@media (max-width: 80em) {
  .leaflet-container {
    max-height: 85vh;
    max-width: 100vw;
    border-radius: 0;
  }
}