.app {
  background-color: black;
}

.flex {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  max-height: 75vh;
  max-width: 80vw;
  border: 5px solid black;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.leaflet-popup-content-wrapper {
  background-color: #debd92;
}

.leaflet-popup-tip {
  background: #debd92;
}